.body {
   font-family: 'Noto Sans KR', sans-serif;
   /* font-family: 'Titillium Web', sans-serif; */
   font-size: 100%;
   margin:0;
}
ul {margin:0;} li, ol {padding:0;}
*{margin:0;padding:0;list-style:none;}
a, a:link, a:visited, a:active {color: #111;}
h1,h2,h3,h4,h5,h6{margin:0; font-family: 'Titillium Web', sans-serif;}
h1 {font-size: 2rem; font-weight: 500;}
h2 {font-size: 1.4rem; font-weight: 600;}
h3 {font-size: 1rem; font-weight: 600;}
button {
   border: none; background: transparent;
}
P, span, li, a  {font-family: 'Noto Sans KR', sans-serif; font-weight: 400;}
:root {
  --main-color: tan;
  --sub-color: dodgerblue;
}
